#app{
    width: 300px;
    margin: 0 auto;
}

#app h3{
    margin-bottom: 0px;
    font-size: 1.1em;
    text-align: center;
    padding: 0.3em;
    color: white;
    background-color:#4ac55a;
}

#app table{
    border-collapse: collapse;
    width: 100%;
}

#app table td{
    font-size: 1.1em;
    padding: 0.3em;
}
/* td yang terakhir rata kanan */
#app table td:last-child{ 
    text-align: right;
}
/*mengubah tr genap */
#app table tr:nth-child(even){
    background: #e8e8e8;
}

#app table tr:hover{
    background-color: #4ac55a;
    color: white;
    cursor: pointer;
}